<%- include('side_bar.ejs') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= resource.title %> Recurso</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Detalhes do Recurso</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= resource.title %>
          <span class="pull-right">Por <%= username %></span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Descrição:</strong></p>
              <p><%= resource.description %></p>
              <p>
                <strong>Ficheiro:</strong>
                <a
                  class="btn btn-primary"
                  href="/resources/<%= file_name %>"
                  download
                  >Transfere o Recurso</a
                >
              </p>
            </div>
            <div class="col-md-6">
              <p><strong>Likes:</strong> <%= num_likes %></p>
              <p><strong>Reports:</strong> <%= num_reports %></p>
              <p><strong>Disciplina:</strong> <%= disciplina %></p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
			<% if(user_liked) { %>
				<a href="/likes/<%= resource.id %>" class="btn btn-default">Remover Like</a>
		  <% } else { %>
			<a href="/likes/<%= resource.id %>" class="btn btn-default">Like</a>
			<% } %>
        </div>
      </div>
    </div>
  </body>
</html>
